<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Event Details</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 28rem;">
            <img src="{{cover}}" class="card-img-top" alt="{{title}}">
            <div class="card-body m-3">
                <h5 class="card-title"><b>Title: </b>{{title}}</h5>
            </div>

            <ul class="list-group list-group-flush m-3">
                <li class="list-group-item"><b>Guide: </b>{{guideName}} / </li><span>Language: {{language}}</span>
                <li class="list-group-item"><b>Department: </b>{{department}}</li>
                <li class="list-group-item"><b>Description: </b>{{description}}</li>
                <li class="list-group-item"><b>Date: </b>{{date}} / </li><span>Duration: {{duration}}</span>

                <li>
                    <div class="mb-2 row mt-2">
                        <div class="col">
                            <label for="longitude" class="form-label">Longitude:</label>
                            <input type="text" class="form-control" id="eventLongitud" name="longitude"
                                value="{{location.coordinates.[0]}}">
                        </div>
                        <div class="col">
                            <label for="latitude" class="form-label">Latitude:</label>
                            <input type="text" class="form-control" id="eventLatitude" name="latitude"
                                value="{{location.coordinates.[1]}}">
                        </div>
                    </div>
                </li>
            </ul>

            <div class="card-body d-flex justify-content-between m-3">
                <a href="/events/edit/{{_id}}" class="btn btn-dark btn-lg">Edit</a>
                <form action="/events/delete/{{_id}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger btn-lg">
                </form>
            </div>
        </div>
    </div>
</div>