<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Event Details</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="card" style="width: 28rem;">
            <img src="{{event.cover}}" class="card-img-top mt-2" alt="{{event.title}}">
            <div class="card-body">
                <h5 class="card-title"><b>Title: </b>{{event.title}}</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Guide: </b>{{event.guideName.username}}</li>
                <li class="list-group-item"><b>Language: </b> {{event.language}}</li>
                <li class="list-group-item"><b>Department: </b>{{event.departments.[0].name}}</li>
                <li class="list-group-item"><b>Description: </b>{{event.description}}</li>
                <li class="list-group-item"><b>Date: </b>{{event.date.day}}</li>
                <li class="list-group-item"><b>Duration: </b>{{event.date.duration}} minutes</li>

                <li class="list-group-item"><b>Participants: </b> {{#each
                    event.participants}}<span>{{username}} |</span>{{/each}}</li>

                <div class="row">

                    <div class="col-3">

                        <form action="/events/joinEvent/{{event._id}}" method="POST" class="mt-3">
                            <input type="submit" value="Join Event" class="btn btn-dark btn-sm">
                        </form>
                    </div>
                    <div class="col-3">
                        <form action="/events/exitEvent/{{event._id}}" method="POST" class="mt-3 mb-3">
                            <input type="submit" value="Leave Event" class="btn btn-dark btn-sm">
                        </form>

                    </div>

                </div>

            </ul>

            {{#if userRoles.isGuide}}
            <div class="card-body d-flex justify-content-between">
                <a href="/events/edit/{{_id}}" class="btn btn-dark btn-lg">Edit</a>
                <form action="/events/delete/{{_id}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger btn-lg">
                </form>
            </div>
            {{/if}}

            {{#if userRoles.isAdmin}}
            <div class="card-body d-flex justify-content-between">
                <a href="/events/edit/{{event._id}}" class="btn btn-dark btn-lg">Edit</a>
                <form action="/events/delete/{{event._id}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger btn-lg">
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</div>