<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Event Edition Form</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <form action="/events/edit/{{event._id}}" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="eventTitle" name="title" value="{{event.title}}">
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="department" class="form-label">Department:</label>
                            <select class="form-select" aria-label="Default select example" name="departments">
                                <option selected disabled>Open to select</option>
                                {{#each event.departments}}
                                <option value="{{_id}}" name="departments" selected>{{name}}</option>
                                {{/each}}
                                {{#each departments}}
                                <option value="{{_id}}" name="departments">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="language" class="form-label">Language:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>{{event.language}}</option>

                            <option value="ENGLISH">English</option>
                            <option value="SPANISH">Spanish</option>
                            <option value="FRENCH">French</option>
                        </select>
                        <div class="form-text">Required</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <textarea class="form-control" id="eventDescription" rows="3"
                        name="description">{{event.description}}</textarea>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="date" class="form-label">Date:</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{event.date.day}}">
                        <div class="form-text">Required</div>
                    </div>
                    <div class="col">
                        <label for="duration" class="form-label">Duration in minutes:</label>
                        <input type="number" class="form-control" id="duration" name="duration"
                            value="{{event.date.duration}}">
                        <div class="form-text">Required</div>
                    </div>
                </div>

                <div class="d-grid gap-2 mb-3">
                    <label for="cover" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="cover" name="cover" value="{{event.cover}}">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Complete editing.</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>
</div>