<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>{{title}}</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">

    <img src="{{primaryImage}}" class="card-img-top" alt="{{title}}">

    <p class="list-group-item"><b>Department: </b>{{department}}</p>
    <p class="list-group-item"><b>Artist: </b>{{artistDisplayName}}</p>
    <p class="list-group-item"><b>Description: </b>{{description}}</p>
    <p class="list-group-item"><b>Date: </b>{{objectBeginDate}} - {{objectEndDate}}</p>
    <p class="list-group-item"><b>Country: </b>{{country}}</p>

    <hr>
    <div class="col">
        <form action="/users/addToFav/{{objectID}}" method="POST">
            <input type="submit" value="Add to Fav" class="btn btn-dark btn-sm">
        </form>
    </div>
    <div class="col">
        <form action="/users/removeFromFav/{{objectID}}" method="POST">
            <input type="submit" value="Remove Fav" class="btn btn-dark btn-sm">
        </form>
    </div>

    <a href="{{objectURL}}" target="_blank" class="btn btn-dark btn-lg">See more</a>
</div>